@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  /* overscroll-behavior: none; */
}
.container {
  margin: 0 auto;
  background-color: rgb(33, 40, 50);
}
.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-heading {
  width: 360px;
  height: 170px;
  color: white;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-image: linear-gradient(170deg, #fc267c, #212832);
}
#username,
#password,
#email {
  width: 270px;
  position: relative;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid gray;
  background-color: rgba(47, 59, 73);
}
.register-form {
  margin-top: 100px;
}
.form-group {
  margin-bottom: 25px;
}
.error {
  color: red;
  font-size: 14px;
}
.submit {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.suggest {
  color: white;
  text-align: center;
}
.submit-btn {
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 50%;
  background-color: #fc267c;
  display: flex;
  justify-content: center;
  align-items: center;
}
