.home-page {
  margin-top: 50px;
  height: 90vh;
  position: relative;
}
.home-image {
  display: flex;
  justify-content: flex-end;
  /* height: 100vh; */
}
.home-img {
  width: 100%;
  height: 90vh;
}
.home-text {
  width: 530px;
  position: absolute;
  font-size: 23px;
  font-weight: bold;
  line-height: 3.8rem;
  top: 52%;
  left: 27%;
  transform: translate(-50%, -50%);
}
@keyframes slideFade {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}
.home-head {
  color: #fbe2bc;
  font-weight: 500;
  animation: slideFade 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
.home-paragraph {
  color: gray;
  font-size: 18px;
  line-height: 2.3rem;
  animation: slideFadeRight 1.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
@keyframes slideFadeRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.home-button {
  margin-top: 20px;
  padding: 10px 25px;
  color: white;
  background: none;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 30px;
}

